*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 20px;
}

/* COMPLETE GRID */

#everything {

  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 200px;
}

/* LIBRARY TITLE*/

.library-title{
  font-family: "Montserrat", sans-serif;
  -webkit-font-family: "Montserrat";
  font-size: 1.3rem;

  margin-bottom: 1.2rem;
}

/* authors */

.authors {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 250px 250px;
  grid-column-gap: 1px;
  grid-row-gap: 20px;
}

/* QUOTES */
.all-quotes{
  display: grid;
  grid-template: 300px / 600px;
  height: 300px;
  /*border: 1px solid red;*/
  transform: translateY(-2100px);
  z-index: -1;
}


/* HESSE */

.hesse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #fcf876;
  font-family: 'Jost', sans-serif;
  font-size: 0.8rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
}

.hesse:hover{
  color: black;
  box-shadow: 5px 5px 8px black;

}

/* PESSOA */

.pessoa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #82c4c3;
  font-family: 'Jost', sans-serif;
  font-size: 0.7rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
}

.pessoa:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* CORTAZAR */

.cortazar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #faf4ff;
  font-family: 'Jost', sans-serif;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
}

.cortazar:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* BRADBURY */

.bradbury {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #eb9788;
  font-family: 'Jost', sans-serif;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
}

.bradbury:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* BORGES */

.borges{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #b6c9f0;
  font-family: 'Jost', sans-serif;
  font-size: 0.7rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
}

.borges:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* DOSTOIEVSKI */

.dostoievski{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #f7a440;
  font-family: 'Jost', sans-serif;
  font-size: 0.4rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
}

.dostoievski:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* TOLSTOI */

.tolstoi{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #194350;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.tolstoi:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* NAVOKOB*/

.navokob{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #ff8882;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.navokob:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* ORWELL*/

.orwell{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #fb3640;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.7rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.orwell:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* BENEDETTI*/

.benedetti{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #98ddca;
  font-family: 'Jost', sans-serif;
  color: black;
  font-size: 0.5rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.benedetti:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* UNAMUNO*/

.unamuno{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #e4fbff;
  font-family: 'Jost', sans-serif;
  color: black;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.unamuno:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* WILDE*/

.wilde{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #810034;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.7rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.wilde:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* BUKOWSKI */

.bukowski{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #fff5eb;
  font-family: 'Jost', sans-serif;
  color: black;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.bukowski:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* THOMPSON */

.thompson{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #293b5f;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.thompson:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* ALIGHIERI */

.alighieri{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #ce97b0;
  font-family: 'Jost', sans-serif;
  color: black;
  font-size: 0.5rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.alighieri:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* GARCIA MÁRQUEZ */

.garcia-marquez{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #064420;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.35rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.garcia-marquez:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* DESPENTES */

.despentes{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #ffd8cc;
  font-family: 'Jost', sans-serif;
  color: black;
  font-size: 0.5rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.despentes:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* MURAKAMI */

.murakami{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #2541b2;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.murakami:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* GOGOL */

.gogol{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #c84b31;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.gogol:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* KAFKA */

.kafka{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #9fd8df;
  font-family: 'Jost', sans-serif;
  color: black;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.kafka:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* KIERKEGAARD */

.kierkegaard{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #232323;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.4rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.kierkegaard:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* JUNG */

.jung{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #E1E8EB;
  font-family: 'Jost', sans-serif;
  color: black;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.jung:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* TWAIN */

.twain {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #FF96AD;
  font-family: 'Jost', sans-serif;
  color: black;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.twain:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* BURROUGHS */

.burroughs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #402218;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.5rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.burroughs:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* PROUST */

.proust {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #A3A847;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.proust:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* SARTRE */

.sartre {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #F7DBF0;
  font-family: 'Jost', sans-serif;
  color: black;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.sartre:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* POE */

.poe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #4C4C6D;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.poe:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* WOOLF */

.woolf {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #39A2DB;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.woolf:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* AUSTEN */

.austen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #DF5E5E;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.austen:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* DICKINSON */

.dickinson {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #FFEACA;
  font-family: 'Jost', sans-serif;
  color: black;
  font-size: 0.5rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.dickinson:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* BRONTE */

.bronte {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #54436B;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.bronte:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* PLATH */

.plath {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #BB371A;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.plath:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* CHRISTIE */

.christie {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #B5EAEA;
  font-family: 'Jost', sans-serif;
  color: black;
  font-size: 0.5rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.christie:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* LEE */

.lee {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #262A53;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.lee:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* SHELLEY */

.shelley {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #FF616D;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.shelley:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* ASIMOV */

.asimov {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #F6DFEB;
  font-family: 'Jost', sans-serif;
  color: black;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.asimov:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* FAULKNER */

.faulkner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #B4846C;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.5rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.faulkner:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* STEINBECK */

.steinbeck {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #53B8BB;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.5rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.steinbeck:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* JOYCE */

.joyce {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #E99497;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.joyce:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* MELVILLE */

.melville {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #810034;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.5rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.melville:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* HUGO */

.hugo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #B05B3B;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.hugo:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* MISHIMA */

.mishima {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #5089C6;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.mishima:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* SARAMAGO */

.saramago {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #F5E79D;
  font-family: 'Jost', sans-serif;
  color: black;
  font-size: 0.5rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.saramago:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* SALINGER */

.salinger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #B97A95;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.5rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.salinger:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* LONDON */

.london {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #628395;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.london:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* TOLKIEN */

.tolkien {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #FF4848;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.tolkien:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* NAVAL */

.naval {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #9B72AA;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 0.6rem;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.naval:hover{
  color: black;
  box-shadow: 5px 5px 8px black;
}

/* BACK TO LIBRARY BUTTON */

.back-to-library{
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  border-radius: 40px;
  margin-bottom: 30px;
  visibility: hidden;
  transform: scale(1.2);
}

.back-to-library:hover {
  background-color: black;
  color: white;
}

/* HESSE QUOTES */

.hesse-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(100px);
}

.hesse-quotes-name{
  margin-bottom: 20px;
}


/* PESSOA QUOTES */

.pessoa-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-220px);

}

.pessoa-quotes-name{
  margin-bottom: 20px;
}

/* CORTAZAR QUOTES */

.cortazar-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-370px);
}

.cortazar-quotes-name{
  margin-bottom: 20px;
}

/* BRADBURY QUOTES */

.bradbury-quotes{
  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-520px);

}

.bradbury-quotes-name{
  margin-bottom: 20px;
}

/* BORGES QUOTES */

.borges-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-650px);

}

.borges-quotes-name{
  margin-bottom: 20px;
}

/* DOSTOIEVSKI QUOTES */

.dostoievski-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-820px);

}

.dostoievski-quotes-name{
  margin-bottom: 20px;
}

/* TOLSTOI QUOTES */

.tolstoi-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-950px);

}

.tolstoi-quotes-name{
  margin-bottom: 20px;
}

/* NAVOKOB QUOTES */

.navokob-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-1080px);

}

.navokob-quotes-name{
  margin-bottom: 20px;
}

/* ORWELL QUOTES */

.orwell-quotes{
  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-1270px);

}

.orwell-quotes-name{
  margin-bottom: 20px;
}

/* BENEDETTI QUOTES */

.benedetti-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-1480px);

}

.benedetti-quotes-name{
  margin-bottom: 20px;
}

/* UNAMUNO QUOTES */

.unamuno-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-1650px);

}

.unamuno-quotes-name{
  margin-bottom: 20px;
}

/* WILDE QUOTES */

.wilde-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-1790px);

}

.wilde-quotes-name{
  margin-bottom: 20px;
}

/* BUKOWSKI QUOTES */

.bukowski-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-1950px);
}

.bukowski-quotes-name{
  margin-bottom: 20px;
}

/* THOMPSON QUOTES */

.thompson-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-2060px);
}

.thompson-quotes-name{
  margin-bottom: 20px;
}

/* ALIGHIERI QUOTES */

.alighieri-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-2180px);
}

.alighieri-quotes-name{
  margin-bottom: 20px;
}

/* GARCÍA MÁRQUEZ QUOTES */

.garcia-marquez-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-2300px);
}

.garcia-marquez-quotes-name{
  margin-bottom: 20px;
}

/* DESPENTES QUOTES */

.despentes-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-2470px);
}

.despentes-quotes-name{
  margin-bottom: 20px;
}

/* MURAKAMI QUOTES */

.murakami-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-2610px);
}

.murakami-quotes-name{
  margin-bottom: 20px;
}

/* GOGOL QUOTES */

.gogol-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-2770px);
}

.gogol-quotes-name{
  margin-bottom: 20px;
}

/* KAFKA QUOTES */

.kafka-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-2900px);
}

.kafka-quotes-name{
  margin-bottom: 20px;
}

/* KIERKEGAARD QUOTES */

.kierkegaard-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-3050px);
}

.kierkegaard-quotes-name{
  margin-bottom: 20px;
}

/* JUNG QUOTES */

.jung-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-3200px);
}

.jung-quotes-name{
  margin-bottom: 20px;
}

/* TWAIN QUOTES */

.twain-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-3350px);
}

.twain-quotes-name{
  margin-bottom: 20px;
}

/* BURROUGHS QUOTES */

.burroughs-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-3500px);
}

.burroughs-quotes-name{
  margin-bottom: 20px;
}

/* PROUST QUOTES */

.proust-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-3640px);
}

.proust-quotes-name{
  margin-bottom: 20px;
}

/* SARTRE QUOTES */

.sartre-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-3800px);
}

.sartre-quotes-name{
  margin-bottom: 20px;
}

/* POE QUOTES */

.poe-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-3950px);
}

.poe-quotes-name{
  margin-bottom: 20px;
}

/* WOOLF QUOTES */

.woolf-quotes{
  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-4100px);
}

.woolf-quotes-name{
  margin-bottom: 20px;
}

/* AUSTEN QUOTES */

.austen-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-4250px);
}

.austen-quotes-name{
  margin-bottom: 20px;
}

/* DICKINSON QUOTES */

.dickinson-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-4370px);
}

.dickinson-quotes-name{
  margin-bottom: 20px;
}

/* BRONTE QUOTES */

.bronte-quotes{
  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-4480px);
}

.bronte-quotes-name{
  margin-bottom: 20px;
}

/* PLATH QUOTES */

.plath-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-4630px);
}

.plath-quotes-name{
  margin-bottom: 20px;
}

/* CHRISTIE QUOTES */

.christie-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-4750px);
}

.christie-quotes-name{
  margin-bottom: 20px;
}

/* LEE QUOTES */

.lee-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-4880px);
}

.lee-quotes-name{
  margin-bottom: 20px;
}

/* SHELLEY QUOTES */

.shelley-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-5030px);
}

.shelley-quotes-name{
  margin-bottom: 20px;
}

/* ASIMOV QUOTES */

.asimov-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-5170px);
}

.asimov-quotes-name{
  margin-bottom: 20px;
}

/* FAULKNER QUOTES */

.faulkner-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-5320px);
}

.faulkner-quotes-name{
  margin-bottom: 20px;
}

/* STEINBECK QUOTES */

.steinbeck-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-5480px);
}

.steinbeck-quotes-name{
  margin-bottom: 20px;
}

/* JOYCE QUOTES */

.joyce-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-5630px);
}

.joyce-quotes-name{
  margin-bottom: 20px;
}

/* MELVILLE QUOTES */

.melville-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-5750px);
}

.melville-quotes-name{
  margin-bottom: 20px;
}

/* HUGO QUOTES */

.hugo-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-5900px);
}

.hugo-quotes-name{
  margin-bottom: 20px;
}

/* MISHIMA QUOTES */

.mishima-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-6050px);
}

.mishima-quotes-name{
  margin-bottom: 20px;
}

/* SARAMAGO QUOTES */

.saramago-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-6220px);
}

.saramago-quotes-name{
  margin-bottom: 20px;
}

/* SALINGER QUOTES */

.salinger-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-6360px);
}

.salinger-quotes-name{
  margin-bottom: 20px;
}

/* LONDON QUOTES */

.london-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-6470px);
}

.london-quotes-name{
  margin-bottom: 20px;
}

/* TOLKIEN QUOTES */

.tolkien-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-6620px);
}

.tolkien-quotes-name{
  margin-bottom: 20px;
}

/* NAVAL QUOTES */

.naval-quotes{

  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  transform: translateY(-6750px);
}

.naval-quotes-name{
  margin-bottom: 20px;
}
