*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* COMPLETE GRID */

#everything {

  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 200px;
}


/* LIBRARY TITLE*/

.library-title{
  font-family: "Montserrat", sans-serif;
  font-size: 25px;

  margin-bottom: 25px;
}

/* authors */

.authors {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 250px 250px;
  grid-column-gap: 1px;
  grid-row-gap: 20px;

}


/* HESSE */

.hesse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #fcf876;
  font-family: 'Jost', sans-serif;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
}

.hesse:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;

}

/* PESSOA */

.pessoa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #82c4c3;
  font-family: 'Jost', sans-serif;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
}

.pessoa:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* CORTAZAR */

.cortazar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #faf4ff;
  font-family: 'Jost', sans-serif;
  font-size: 12px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
}

.cortazar:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* BRADBURY */

.bradbury {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #eb9788;
  font-family: 'Jost', sans-serif;
  font-size: 12px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
}

.bradbury:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* BORGES */

.borges{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #b6c9f0;
  font-family: 'Jost', sans-serif;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
}

.borges:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* DOSTOIEVSKI */

.dostoievski{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #f7a440;
  font-family: 'Jost', sans-serif;
  font-size: 9px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0px;
}

.dostoievski:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* TOLSTOI */

.tolstoi{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #194350;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 14px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.tolstoi:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* NAVOKOB*/

.navokob{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #ff8882;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 14px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.navokob:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* ORWELL*/

.orwell{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #fb3640;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 14px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.orwell:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* BENEDETTI*/

.benedetti{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #98ddca;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 11px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.benedetti:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* UNAMUNO*/

.unamuno{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #e4fbff;
  font-family: 'Jost', sans-serif;
  color: black;
  font-size: 14px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.unamuno:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* WILDE*/

.wilde{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #810034;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 13px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.wilde:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* BUKOWSKI */

.bukowski{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #fff5eb;
  font-family: 'Jost', sans-serif;
  color: black;
  font-size: 13px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.bukowski:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* THOMPSON */

.thompson{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #293b5f;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 12px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.thompson:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* ALIGHIERI */

.alighieri{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #ce97b0;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 12px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.alighieri:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* GARCIA MÁRQUEZ */

.garcia-marquez{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #064420;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 7px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.garcia-marquez:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* DESPENTES */

.despentes{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #ffd8cc;
  font-family: 'Jost', sans-serif;
  color: black;
  font-size: 11px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.despentes:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* MURAKAMI */

.murakami{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #2541b2;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 11px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.murakami:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* GOGOL */

.gogol{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #c84b31;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 11px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.gogol:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* KAFKA */

.kafka{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #9fd8df;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 13px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.kafka:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* KIERKEGAARD */

.kierkegaard{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #232323;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 9px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.kierkegaard:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* JUNG */

.jung{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #E1E8EB;
  font-family: 'Jost', sans-serif;
  color: black;
  font-size: 12px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.jung:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* TWAIN */

.twain {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #FF96AD;
  font-family: 'Jost', sans-serif;
  color: black;
  font-size: 12px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.twain:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* BURROUGHS */

.burroughs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #402218;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 10px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.burroughs:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* PROUST */

.proust {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #A3A847;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 11px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.proust:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* SARTRE */

.sartre {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #F7DBF0;
  font-family: 'Jost', sans-serif;
  color: black;
  font-size: 12px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.sartre:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* POE */

.poe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #4C4C6D;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 13px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.poe:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* WOOLF */

.woolf {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 250px;
  background-color: #39A2DB;
  font-family: 'Jost', sans-serif;
  color: white;
  font-size: 13px;
  cursor: pointer;
  align-self: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-top-left-radius: 8px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 3px;
}

.woolf:hover{
  color: gray;
  box-shadow: 5px 5px 8px gray;
}

/* BACK TO LIBRARY BUTTON */

.back-to-library{
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  border-radius: 40px;
  margin-bottom: 30px;
  display: none;
  transform: scale(1.2);
}

.back-to-library:hover {
  background-color: black;
  color: white;
}

/* HESSE QUOTES */

.hesse-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(342px, -700px);

}

.hesse-quotes-name{
  margin-bottom: 20px;
}

/* PESSOA QUOTES */

.pessoa-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(270px, -700px);

}

.pessoa-quotes-name{
  margin-bottom: 20px;
}

/* CORTAZAR QUOTES */

.cortazar-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(255px, -700px);

}

.cortazar-quotes-name{
  margin-bottom: 20px;
}

/* BRADBURY QUOTES */

.bradbury-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(240px, -700px);

}

.bradbury-quotes-name{
  margin-bottom: 20px;
}

/* BORGES QUOTES */

.borges-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(265px, -700px);

}

.borges-quotes-name{
  margin-bottom: 20px;
}

/* DOSTOIEVSKI QUOTES */

.dostoievski-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(175px, -700px);

}

.dostoievski-quotes-name{
  margin-bottom: 20px;
}

/* TOLSTOI QUOTES */

.tolstoi-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(345px, -700px);

}

.tolstoi-quotes-name{
  margin-bottom: 20px;
}

/* NAVOKOB QUOTES */

.navokob-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(200px, -700px);

}

.navokob-quotes-name{
  margin-bottom: 20px;
}

/* ORWELL QUOTES */

.orwell-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(275px, -700px);

}

.orwell-quotes-name{
  margin-bottom: 20px;
}

/* BENEDETTI QUOTES */

.benedetti-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(248px, -700px);

}

.benedetti-quotes-name{
  margin-bottom: 20px;
}

/* UNAMUNO QUOTES */

.unamuno-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(145px, -700px);

}

.unamuno-quotes-name{
  margin-bottom: 20px;
}

/* WILDE QUOTES */

.wilde-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(275px, -700px);

}

.wilde-quotes-name{
  margin-bottom: 20px;
}

/* BUKOWSKI QUOTES */

.bukowski-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(290px, -700px);
}

.bukowski-quotes-name{
  margin-bottom: 20px;
}

/* THOMPSON QUOTES */

.thompson-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(340px, -700px);
}

.thompson-quotes-name{
  margin-bottom: 20px;
}

/* ALIGHIERI QUOTES */

.alighieri-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(310px, -700px);
}

.alighieri-quotes-name{
  margin-bottom: 20px;
}

/* GARCÍA MÁRQUEZ QUOTES */

.garcia-marquez-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(270px, -700px);
}

.garcia-marquez-quotes-name{
  margin-bottom: 20px;
}

/* DESPENTES QUOTES */

.despentes-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(235px, -700px);
}

.despentes-quotes-name{
  margin-bottom: 20px;
}

/* MURAKAMI QUOTES */

.murakami-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(180px, -700px);
}

.murakami-quotes-name{
  margin-bottom: 20px;
}

/* GOGOL QUOTES */

.gogol-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(287px, -700px);
}

.gogol-quotes-name{
  margin-bottom: 20px;
}

/* KAFKA QUOTES */

.kafka-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(282px, -700px);
}

.kafka-quotes-name{
  margin-bottom: 20px;
}

/* KIERKEGAARD QUOTES */

.kierkegaard-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(320px, -700px);
}

.kierkegaard-quotes-name{
  margin-bottom: 20px;
}

/* JUNG QUOTES */

.jung-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(220px, -700px);
}

.jung-quotes-name{
  margin-bottom: 20px;
}

/* TWAIN QUOTES */

.twain-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(310px, -700px);
}

.twain-quotes-name{
  margin-bottom: 20px;
}

/* BURROUGHS QUOTES */

.burroughs-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(285px, -700px);
}

.burroughs-quotes-name{
  margin-bottom: 20px;
}

/* PROUST QUOTES */

.proust-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(233px, -700px);
}

.proust-quotes-name{
  margin-bottom: 20px;
}

/* SARTRE QUOTES */

.sartre-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(208px, -700px);
}

.sartre-quotes-name{
  margin-bottom: 20px;
}

/* POE QUOTES */

.poe-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(218px, -700px);
}

.poe-quotes-name{
  margin-bottom: 20px;
}

/* WOOLF QUOTES */

.woolf-quotes{
  position: absolute;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  display: none;
  transform: translate(207px, -700px);
}

.woolf-quotes-name{
  margin-bottom: 20px;
}

/* media queries */

@media (max-width: 976px){
.all-quotes{
  transform: translateX(50px);
}
}
